.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

body {
  background-color: rgb(230, 230, 230);
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}